@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  animation-name: colorChange;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  svg {
    height: 100%;
  }

}

@keyframes colorChange {
  0% {
      background: red;    
  }
  20% {
      background: blue;    
  }
  40% {
      background: green;    
  }
  60% {
      background: orange;    
  }
  80% {
      background: purple;    
  }
  100% {
      background: red;    
  }
}

.spacer {
  height: 100%;
}

.bubble-wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.colors-wrap {
  height: 100%;
  width: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  ul {
    list-style: none;
    text-align: start;

    li {
      cursor: pointer;
      padding: 6px 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.delete {
  color: rgb(216, 87, 87);
}

.color-box {
  height: 16px;
  width: 16px;
  border: 1px lightgray solid;
  margin-right: 36px;
}

form {
  margin: 200px;
  display: flex;
  flex-direction: column;
  width: 300px;
  border: dotted blue ;
  background-color: white;
  

  legend {
    padding-left: 40px;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
    margin-bottom: 16px;
  }

  label {
    display: flex;
    justify-content: space-between;
    padding: 4px 36px 4px 40px;
  }

  input {    
    display: flex;
    justify-content: center;
    align-items: center;   
    margin: 10px;
    height: 35px;
    border-radius: 12px;
  }
}

.formContainer {
 margin: 0, auto;
 
}

.button-row {
  display: flex;
  justify-content: space-between;
  padding: 0 36px 0 41px;
  margin: 16px;

  button {
    border: none;
    background-color: black;
    color: white;
    padding: 3px 8px;
    margin: 16px;

  }
}

.btn {
  margin: 16px;  
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
